header {
  display: flex;
  padding-inline: 16px;
  padding-block: 0;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: var(--primary-black);
  height: var(--headerHeight);

  nav {
    border-radius: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-inline: 16px;

    > span {
      font-size: 30px;
      font-weight: bold;
      user-select: none;
      background-color: var(--primary-orange-transparent);
      color: var(--primary-orange-hover);
      border-radius: 16px;
      padding: 20px;
    }


    ul {
      display: flex;
      list-style: none;
      gap: 12px;
      li {
        display: flex;
        padding-inline: 16px;
        height: 48px;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        cursor: pointer;
        user-select: none;
        border-radius: 16px;
        &:hover {
          background-color: var(--hover-transparent);
        }

        /* Active Link State (Nested!) */
        &.active-link {
          background-color: var(--primary-orange-transparent);
          color: var(--primary-orange-hover);

          /* Active Link Hover (Overrides standard hover) */
          &:hover {
            background-color: var(--primary-orange-transparent);
            color: var(--primary-orange-hover);
          }
        }
      }
    }
  }
}

#home {
  padding-left: 20px;
  padding-right: 20px;
}
