<div id="padding-div">
  <span class="token-row">
    <p id="title">{{ platform()?.name }}</p>
    <app-toggle-switch
      #showInput
      (click)="onClickCheckbox($event)"
      [checked]="platform()?.enabled"
    />
    @if (showInput.checked) {
      <p
        animate.enter="fade-in"
        animate.leave="fade-out"
      >
        API Token
      </p>
      <input
        type="text"
        placeholder="Paste API token here..."
        animate.enter="fade-in"
        animate.leave="fade-out"
        (keyup)="onUpdateApiText($event)"
        [value]="platform()?.apiKey"
      />
    }
  </span>
</div>

