input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  display: flex;
  border: 2px solid transparent;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: var(--inner-bg-color);
  color: white;
  min-width: 0;
  -webkit-text-security: disc;
}

input[type="checkbox"] {
  margin-inline: 8px;
  block-size: 20px;
}

input[type="checkbox"]:checked {
  accent-color: var(--primary-orange);
}

input:focus {
  border-color: var(--primary-orange);
  outline: none;
  border-width: 2px;
}

.token-row {
  display: grid;
  gap: 16px;
  grid-template-columns: 10% 6% 128px auto;
  align-items: center;
  padding-inline: 24px;
}

p {
  font-size: 22px;
}

#title {
  margin-inline: 8px;
}

.fade-in {
  animation: fade-in 0.15s ease-in;
}

.fade-out {
  animation: fade-out 0.15s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#padding-div {
  background-color: var(--inner-bg-color);
  border-radius: 16px;
}

.faded {
  color: gray;
}
