#reset-btn {
  border-radius: 16px;
  padding: 20px;
  font-size: 16px;
  background-color: var(--inner-bg-color);
  color: white;
  border: none;
  font-weight: bold;
}

#reset-btn:hover {
  background-color: var(--hover-transparent);
}

#reset-btn:active {
  background-color: var(--primary-orange-transparent);
  color: var(--primary-orange);
}
