* {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.typing {
  &.header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &.description {
    font-size: 16px;
    margin-left: 16px;
  }
}

.modding-for {
  font-size: 24px;
}

#readme {
  color: var(--hover-transparent);
}

.subsection {
  /*color: var(--primary-orange-hover);*/
  border-radius: 16px;
  background-color: var(--inner-bg-color);
  width: auto;
  padding: 8px;
  padding-inline: 12px;
}
