* {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

#user-info-labels {
  display: grid;
  gap: 16px;
  grid-template-columns: 10% 5%;
  align-items: center;
  padding-inline: 24px;

  > p {
    font-size: 22px;
  }
}
